.container {
  display: flex;
}

.likes {
  &:hover {
    cursor: pointer;
    stroke: #219653;
  }
  > svg {
    pointer-events: none;
  }
}

.likesOn {
  * {
    fill: #219653;
  }
  &:hover {
    cursor: pointer;
    stroke: #219653;
  }
  > svg {
    pointer-events: none;
  }
}

.dislikes {
  &:hover {
    cursor: pointer;
    stroke: #eb5757;
  }
  > svg {
    pointer-events: none;
  }
}

.dislikesOn {
  * {
    fill: #eb5757;
  }
  &:hover {
    cursor: pointer;
    stroke: #eb5757;
  }
  > svg {
    pointer-events: none;
  }
}

.counter {
  display: flex;
  padding: 0px 10px 0 10px;
  position: relative;
  top: -5px;
  color: var(--Gray-2, #4f4f4f);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}
